.app {
  background: #555;
  display: grid;
  grid-template-columns: auto minmax(auto, 800px) auto;
  column-gap: 1em;
  grid-template-areas:
    '. header .'
    '. search-form .';
  margin-bottom: 10em;
}
