.app {
  background: #333;
  display: grid;
  grid-template-columns: auto minmax(auto, 800px) auto;
  column-gap: 1em;
  grid-template-areas:
    '. header .'
    '. main .';
  padding-bottom: 10em;
}

.main {
  grid-area: main;
  background: #edf0f5;
  padding: 3em 1em;
  border-radius: 1em;
}
