.app {
  background: linear-gradient(
    to bottom,
    #333 15%,
    #666 70%,
    #666 80%,
    #333 100%
  );
  display: grid;
  grid-template-columns: auto minmax(auto, 50em) auto;
  column-gap: 1em;
  grid-template-areas:
    '. header .'
    '. main .';
  padding-bottom: 1em;
  margin-bottom: 5em;
}

.main {
  grid-area: main;
  background: #edf0f5;
  padding: 3em 1em;
  border-radius: 1em;
}

.inner {
  max-width: 40em;
  margin: 0 auto;
}
